// -------------------------------------------------------------
// Sassのミックスインファイル
// - @mixinで作成するミックスインは、このファイルにまとめて記述する
// - ファイル名の先頭に_を付けることでこのファイルはパーシャルとなり、コンパイル時にCSSファイルを生成しない
// -------------------------------------------------------------
// [Scss記法 example]
// $g-var1: gold; // グローバル変数
// $g-var2: 500px !default; // 「!default」を付けると初期値
//.content {
//  $var: silver;  // ローカル変数
//  color: $var;  // ローカルを参照
//}

// -------------------------------------------------------------------------
// メディアクエリ(デスクトップファースト)
// -------------------------------------------------------------------------
// 各ブレイクポイント(表示が切り替わる端末の画面幅)を定義
$_tab: 1024px;
$_sp: 600px; // sp:SmartPhone

@mixin tab {
  @media screen and (max-width: ($_tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($_sp)) {
    @content;
  }
}

// -------------------------------------------------------------------------
// Utils
// -------------------------------------------------------------------------
// HACK: margin: 0 auto; との違いがまだよく分かっていない。関数追加したほうがいいかも。
// width: n%;と併用するときに使うのか？
@mixin _ini-center($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin center($flex-direction: row) {
  /*水平・垂直中央*/
  @include horizontal-center($flex-direction);
  @include vertical-center($flex-direction);
}

@mixin horizontal-center($flex-direction: row) {
  /*水平中央*/
  @include _ini-center($flex-direction);
  justify-content: center;
}

@mixin vertical-center($flex-direction: row) {
  /*垂直中央*/
  @include _ini-center($flex-direction);
  align-items: center;
}

