// -------------------------------------------------------------
// Sassのグローバル変数管理ファイル
// -------------------------------------------------------------
@import "../function/_rem.scss";
@import "_mixin.scss";

// -------------------------------------------------------------
// 余白
// -------------------------------------------------------------
$section-padding: rem(35);

// -------------------------------------------------------------
// カラー
// -------------------------------------------------------------
$color-white: #FCFCFC;
$color-black: #000;

$color-blackgray: #2C2C2C;
$color-lightred: #FF5F5F;
$color-lightblue: #83FFE6;

$color-whitelightgray: #EEE;
$color-lightgray: #CCC;
$color-gray: #666;

// -------------------------------------------------------------
// フォントサイズ
// -------------------------------------------------------------
// 本文のフォントサイズ と 各見出しのジャンプ率の設定
$font-size-base: rem(16);
// TODO: 見出しはメディアクエリ化したい(tabで小さく)
$font-size-title-firstrow: rem(54);
$font-size-title-secondrow: rem(28);
$font-size-h1: rem(25.888);
$font-size-h2: rem(20);
$font-size-small: rem(13);

// -------------------------------------------------------------
// TODO: ジャンプ率を以下の関数で定義できるようにしたい
//$font-size-base: rem(16);
//$font-size-ratio: 1.615;
//$_modularscale: (
//  base: $font-size-base,
//  ratio: $font-size-ratio,
//);
//@function modularScale($ms) {
//  // TODO: 二乗できていない(* $msの部分)
//  @return map-get($_modularscale, base) * map-get($_modularscale, ratio) * $ms;
//}
// 見出しのジャンプ率の設定
//$font-size-h1: modularScale(1);
// -------------------------------------------------------------