// -------------------------------------------------------------
// Sassのグローバル変数管理ファイル
// -------------------------------------------------------------
@import "../function/_rem.scss";

// -------------------------------------------------------------
// 余白
// -------------------------------------------------------------
$section-padding: rem(50);

// -------------------------------------------------------------
// カラー
// -------------------------------------------------------------
$color-white: #FCFCFC;
$color-black: #000;

$color-blackgray: #2C2C2C;
$color-lightred: #FF5F5F;
$color-lightblue: #83FFE6;

$color-whitelightgray: #EEE;
$color-lightgray: #CCC;
$color-gray: #666;

// -------------------------------------------------------------
// フォントサイズ
// -------------------------------------------------------------
// 本文のフォントサイズ と 各見出しのジャンプ率の設定
$font-size-base: rem(16);
// TODO: 見出しはメディアクエリ化したい(tabで小さく)
$font-size-h1: rem(25.888);
$font-size-h2: rem(20);
$font-size-small: rem(13);

// -------------------------------------------------------------
// TODO: ジャンプ率を以下の関数で定義できるようにしたい
//$font-size-base: rem(16);
//$font-size-ratio: 1.615;
//$_modularscale: (
//  base: $font-size-base,
//  ratio: $font-size-ratio,
//);
//@function modularScale($ms) {
//  // TODO: 二乗できていない(* $msの部分)
//  @return map-get($_modularscale, base) * map-get($_modularscale, ratio) * $ms;
//}
// 見出しのジャンプ率の設定
//$font-size-h1: modularScale(1);
// -------------------------------------------------------------


// -------------------------------------------------------------
// グローバルCSS変数
// -------------------------------------------------------------
// TODO: 全てScss変数に置換して削除する予定
:root {
  /* セクション */
  --section-height: 600px;
  --section-padding: 50px;
  
  /* メディアクエリ */
  --pc-font-size-lv1: 3rem;
  --pc-font-size-lv2: 14pt;

  --tab-font-size-lv1: 18pt;
  --tab-font-size-lv2: 12pt;

  --sp-font-size-lv1: 18pt;
  --sp-font-size-lv2: 12pt;

  /* テーマカラー */
  --theme-color-white: #FCFCFC;
  --theme-color-black: #000;

  --theme-color-blackgray: #2C2C2C;
  --theme-color-lightred: #FF5F5F;
  --theme-color-lightblue: #83FFE6;

  --theme-color-whitelightgray: #EEE;
  --theme-color-lightgray: #CCC;
  --theme-color-gray: #666;

  /* フェードインが完了するまでの時間 */
  --fadein-time: 0.5s;
}