/* トランジションクラス */
/*<transition name="<name>">
</transition>*/
/* .<name>-enter[-active, -to] */

$fadesec: 1s;

.fadeincurrentposition {

  /* (なにも付けない): transition 開始*/
  .foo-enter {
    opacity: 0; /* 0:非表示 */
  }

  /* -active: transition している間 */
  .foo-enter-active,
  .foo-leave-active {
    transition: opacity $fadesec; /* フェードの段階秒数(表示or非表示の切り替え間) */
  }

  /* -to: transition 終了*/
  .foo-enter-to {
    opacity: 1; /* 1:表示 */
  }
  .foo-leave-to {
    opacity: 0;
    transition: opacity $fadesec;
  }

}
