# *********************
# メモ書き
# *********************

# git ignoreの仕様
# 「.gitignore」 に記載された対象ファイルは、git add の実行時に、インデックスに追加されないようになる
# →すでに追跡してしまっている場合は以下のコマンドを実行する

# ◆既に追跡されているファイルを追跡からはずす
# インデックスからのみファイルを削除する（追跡対象からはずす）
# git rm --cached <FILE_NAME>






# *********************
# 追跡を無視するファイルを指定
# *********************

# すべてのファイルの除外を指定。
*

# ディレクトリは許可
!*/

# 以下を許可
!*.py
!*.json
!*.md
!*.ico
!*.ui
!*.qrc
!*.css
!*.gitignore